.text1 {
        font-family: 'Charmonman', cursive;
        font-size: 26px;
        font-weight: bolder;
        line-height: 40px;
        letter-spacing: 5px;
        color: blueviolet;
}
body {
    background-color: black;
}
.header1 {
    font-family: 'Mali', cursive;
    color: whitesmoke;
}
.img1 {
    height: 200px;
    width: 200px;
}
.text2 {
    color: aqua;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: bolder;
    line-height: 55px;
    letter-spacing: 12px;
}